*{
  margin:0;

}

#main{
  background: rgb(22, 179, 236);
  width: 700px;
  height: 977px;
}
#text{
  position: relative;
  color: white;
  margin-left: 30%;
  top: 200px;
  font-family: monospace;
}
hr{
  position: relative;
  top: 300px;
  width: 270px;
  margin-left: 230px;
}
#text2{
  position: relative;
  color: white;
  margin-left: 23%;
  top:300px;
  font-family: monospace;
}
#main2{
  position: relative
  display:inline-block;
  margin-left: 700px;
  margin-top: -977px;
  width: 1210px;
  height:977px;
}
#text3{
  position: relative;
  top: 200px;
  margin-left: 100px;
  color:rgb(22, 179, 236);
  font-family: monospace;
}

#text4{
  position: relative;
  top: 270px;
  margin-left: 100px;
  color:rgb(62, 62, 62);
  font-family: monospace;
}
#button{
  position: relative;
  top:300px;
  left: 100px;
  background: rgb(22, 179, 236);
  border:0;
  height:30px;
  width: 100px;
  color:white;
}
#button2{
  position: relative;
  top:300px;
  left: 130px;
  height:30px;
  width: 300px;
  background: rgb(22, 179, 236);
  border: 0;
  color: rgb(255, 255, 255);
}
#button3{
  position: relative;
  top:750px;
  left: 560px;
  height:25px;
  width: 150px;
  background-color: rgb(207, 97, 119);
  border: 0;
  color:white;
}
